
@font-face {
    font-family: "KoddiUD-Ongodic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

.btn {
    font-size: 1.2em;
    font-family: "KoddiUD-Ongodic"
}

#bg {
    width: 960px;
    height: 640px;
    background-image: url("bg_2x.png");
    background-repeat: no-repeat;
    background-position: 80% center;
}
