@font-face {
    font-family: 'KoddiudOngodic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoddiudOngodic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: 'KoddiudOngodic', sans-serif;
}

#header {
    text-align: center;
}

#content {
    width: 100%;
    text-align: center;
}

#content .section {
    width: 20%;
    min-width: 200px;
    height: 200px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border: 1px dashed black;
    margin: 10px;
    padding: 10px;
}

#footer {
    font-size: small;
    text-align: right;
    display: block;
}