@import url('https://fonts.cdnfonts.com/css/raster-forge');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#bg {
    width: 960px;
    height: 640px;
    background-image: url("bg_2x.png");
    background-repeat: no-repeat;
    background-position: 80% center;
}